.item {
  width: 21px;
  height: 35px;
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  & button {
    height: 21px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
    border: none;
    background-color: transparent;
    outline: none;
  }
  .count {
    position: absolute;
    padding-top: 3px;
    font-size: 0.8rem;
    color: var(--main-color);
    font-weight: 700;
  }
  .date {
    font-weight: 700;
    color: #b6b6b6;
    font-size: 0.8rem;
  }
  &:hover {
    opacity: 0.8;
  }
}

.selectedItem {
  @extend .item;
  .count {
    color: white;
  }
  .date {
    color: var(--main-color);
    font-size: 12px;
    text-decoration: underline;
  }
}

.check {
  position: absolute;
  filter: invert(65%) sepia(87%) saturate(4569%) hue-rotate(342deg)
    brightness(96%) contrast(93%);
}

.selectedCheck {
  @extend .check;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(226deg)
    brightness(106%) contrast(101%);
}
